/* ------------- Global Styles --------------*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    transition: all .5s ease-out;
}

html, body{
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: .6rem;
} 

html::-webkit-scrollbar-track {
    background: transparent;
} 

html::-webkit-scrollbar-thumb {
    background: rgba(47, 46, 65, 0.9);
    border-radius: 1rem;
} 

.container {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    align-items: center;
}

ul {
    list-style-type: none;
}

.colored {
    color: #ff310c;
    font-size: 3.7rem;
}
/* ------x------- Global Styles -------x-------*/

/* ------------- Header Styles --------------*/
.header {
    background: #F6F6F8;
    color:  rgba(0, 0, 0, 0.6);
    padding: 0.5rem 2rem;
    font-family: 'Cormorant Infant', serif;
}

.header .contact-info {
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}

.header .msg span {
    color:  #000;
    font-size: 18px;
    font-weight: 600;
}

.header .msg .discount {
    color:  #ff310c;
    font-weight: 700;
    font-size: 20px;
}

.header .contact .email, .header .social-icons .header-icon {
    margin-right: 0.5rem;
}

.header .social-icons .header-icon:hover {
    color:  #2F2E41;
}

.header .contact span {
    position: relative;
}

.header .contact .email:after, .header .contact .phone:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2F2E41;
    display: none;
}

.header .contact .email:hover, .header .contact .phone:hover {
    color: #2F2E41;
}

.header .contact .email:hover::after, .header .contact .phone:hover::after {
    display: block;
}

.contact-icons {
    display: flex;
    align-items: center;
}

.contact-icons .social-icons {
    margin-right: 25px;
}

.social-icons i {
    margin: 0 5px;
}

.header-btn {
    background:  #333244;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    transition: background 0.5s ease-out;
    margin-right: 6px;
}

.header .sign-in, .header .sign-up:hover {
    background: rgb(37, 36, 56);
}
/* ------x------- Header Styles -------x-------*/

/* Navigation Styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #2F2E41;
}

.nav-brand {
    width: 255px;
}

.nav .nav-list {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.nav .nav-link:not(:last-child) {
    margin-right: 1rem;
}

.nav .nav-link a {
    position: relative;
}

.nav .nav-link .nav-item {
    transition: color 0.5s ease-out;
}
.nav .nav-link .nav-item:hover {
    color: #ff310c;
}

.active{
    color: #ff310c;
}

.nav .toggle-collapse {
    position: relative;
    font-size: 1.4rem;
    z-index: 1500;
    cursor: pointer;
    display: none;
}

.collapse  {
    height: 30rem;
}

.search {
    padding: 7px 10px;
    border: 1px solid #2F2E41;
    border-radius: 5px;
    margin-right: 5px;
    background: none;
    outline: none;
}

.nav .nav-link i {
    font-size: 0.8rem;
    cursor: pointer;
}

.nav .menu-icons i:first-child {
    margin-right: 1rem;
}

.nav .menu-icons .buy {
    position: relative;
}

.nav .menu-icons .buy::after {
    content: '3';
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    background-color: #ff310c;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}
/* ./ Navigation Styles */

/* Hero Section Styles */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-2 {
    flex-basis: 50%;
    max-width: 350px;
}


.col-2 img {
    width: 100%;
    margin-left: -100px;
}

.title {
    max-width: 520px;
}

.title h1 {
    font-size: 50px;
    line-height: 60px;
}

.btn {
    display: inline-block;
    background: #ff310c;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 50px;
    transition: background 0.5s;
}

.btn:hover {
    background: #2F2E41;
}

.circle {
    width: 100vw;
    height: 120vh;
    background: linear-gradient(
    to top, rgba(47, 46, 65, 0.5),
    rgba(255, 49, 12, 0.6)
    );
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: circle(650px at right 800px);
}
/* ./Hero Section Styles */

/* Features Styles */
.categories {
    margin: 30px 0;
    position: relative;
}

.product-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.small-container {
    width: 70%;
    margin: auto;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

/* Featured Products */
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom:  50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.product-title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.product-title:after {
    content: "";
    background: #ff310c;
    width: 80px;
    height: 3px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff310c;
}

.col-4:hover {
    transform: translateY(-10px);
}
.product-btn {
    background-color: #2F2E41;
    font-size: 13px;
    padding: 6px 10px;
}

/* Exclusive */
.exclusive-col-2 {
    flex-basis: 30%;
    width: 200px;
}

.btn-exclusive {
    display: inline-block;
    background: rgba(47, 46, 65, .7);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 50px;
    transition: background 0.5s;
    cursor: auto;
}

.exclusive {
    background:rgba(231, 172, 178, 0.5);
}

.exclusive h1 {
    color: #2f2e41;
}

.exclusive .text {
    color: #ff310c;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2F2E41;
}

.day, .hour, .minute, .second {
    font-size: 2rem;
    background: #2F2E41;
    color: #ff310c;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}
/* ./Exclusive */

/* Blog Styles */
.blog {
    margin: 50px 0;
} 

.follow {
    margin: 50px 0;
}

.blog-content {
    display: flex;
    align-items: center;
    background: #E7ACB2;
    height: 675px;
}

.blog-paragragh {
    padding: 0 30px;
}

.blog-paragragh h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2F2E41;
}

.blog-paragragh .off {
    color: #ff310c;
    font-weight: 600;
    font-size: 8rem;
    text-align: center;
}

.blog-paragragh .off-letters {
    color: #2F2E41;
    font-weight: initial;
    font-size: 2rem;
    font-family: 'Cormorant Infant', sans-serif;
}

.blog-btn {
    background: #2F2E41;
    font-size: 14px;
    margin-left: 110px;
    border-radius: initial;
}

.blog-img {
    min-width: 450px;
    height: 100%;
}

.blog-img img {
    width: 100%;
}

/* Follow Us */
.follow .images {
    display: flex;
    width: 250px;
    
}

.images img {
    justify-content: center;
    width: 100%;
    margin-right: 3rem;
}

/* Footer Section Styles */
.footer {
	padding: 1rem 0;
	margin-top: 10rem;
	display: flex;
	background: #F6F6F8;
}

.footer-content {
	display: flex;
}
.footer-content-1 {
	width: 45%;
    margin-right: 50px;
}

.footer-content-2 {
	width: 25%;
}

.footer-content-3 {
	width: 30%;
} 

.footer .logo {
	margin-top: 5rem;
}

.footer .logo img {
	margin: 3rem 0;
}

.footer .footer-paragraph {
	color: #2F2E41;
	font-weight: 500;
}

.footer h4 {
    color: #2f2e41;
}

.footer-heading {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.04rem;
}

.social-media {
	display: inline-block;
    color: #2F2E41;
}

.social-media i {
    transition: color .5s ease-out;
    color: #E7ACB2;
}

.sm-info {
	margin-right: 0.3rem;
}

.contact-info-footer {
	margin-top: 3rem;
}

.sm-info {
	display: block;
	margin-top: 1rem;
}

.contact-info-footer .info-icon {
	color: #E7ACB2;
}

.contact-info-footer .fa-phone-volume {
	transform: rotate(-40deg);
}

.contact-info-footer span {
	transition: color 0.5s;
}

.contact-info-footer span:hover {
	color: #E7ACB2;
}

.new {
	margin-top: 3rem;
}

.new-images img {
	margin: 0rem 0.5rem 0.5rem 0rem;
	cursor: pointer;
	transition: opacity 0.5s ease;
}

.new-images img:hover {
	opacity: 0.8;
}

.footer .copy {
	color: #2F2E41;
	margin-top: 2rem;
    font-weight: 600;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-menu-1 {
    position: absolute;
    left: -25rem;
    top: 3rem;
    background: #fff;
    border: 1px solid #d6d6d6;
    width: auto;
    height: 400px;  
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.dropdown .category li {
    text-align: left;
    padding: 8px 0;
    color: #777;
}

.dropdown .category li:not(:last-child) {
    border-bottom: 1px dashed #d6d6d6;
}

li.dropdown-1:hover .dropdown-menu-1 {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu-1 div {
    margin-top: 1rem;
    line-height: 1.5;
    padding: 0 1rem;
}

.dropdown-menu-1 div img {
    margin-top: 0.5rem;
    cursor: pointer;
}

.dropdown-menu-1 .dropdown-img {
    margin-top: 0;
    line-height: 5rem;
}

/* Online Chat */
button {
    border:none;
    outline: none;
    cursor: pointer;
}

.online-chat-header {
    background: linear-gradient(
        to right, rgba(47, 46, 65, 0.5),
        rgba(255, 49, 12, 0.6)
        );
    text-align: left;
    padding: 1rem;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
}

.online-chat-header img {
    width: 20px;
}

.chat-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: linear-gradient(
        to right, rgba(47, 46, 65, 0.5),
        rgba(255, 49, 12, 0.6)
        );
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.3rem;
    -webkit-box-shadow: 1px 2px 12px 1px rgba(47, 46, 65, 0.5);
    box-shadow: 1px 2px 12px 1px  rgba(47, 46, 65, 0.5);
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 120px;
    height: 400px;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    -webkit-box-shadow: 1px 2px 12px 1px rgba(47, 46, 65, 0.5);
    box-shadow: 1px 2px 12px 1px  rgba(47, 46, 65, 0.5);
    border-radius: 10px;
}

.show {
    display: flex;
}

.chat-area {
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 1rem;
}

.chat-area::-webkit-scrollbar {
    display: none;
}

.income-msg {
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.income-msg::after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: rgb(78, 221, 78);
    z-index: 99;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.income-msg .msg {
    background-color: #E2887B;
    color: white;
    padding: 0.4rem;
    border-radius: 25px;
    margin-left: 0.5rem;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.input-area {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: -1rem;
    padding: 1rem 0;
}

.input-area input[type="text"] {
    width:100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    height: 2.2rem;
    outline: none;
}

.submit {
    padding: 0.25rem 0.7rem;
    margin-left: 0.3rem;
    background-color: green;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.7;
}


.out-msg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.my-msg {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
    padding: 0.4rem;
    font-size: 14px;
    background-color: #ddd;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    word-break: break-all;
}

@media (max-width:500px) {
    .chat-popup {
        bottom: 120px;
        right:10%;
        width: 80vw;
    }
}

/* Move Up */
.move-up {
    position: relative;
    right: 5%;
    bottom: 1%;
    cursor: pointer;
    transition: color .5s ease-out;
    z-index: 999;
}

.move-up:hover{
    color: #2F2E41;
}





