/* ------------- Global Styles --------------*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body{
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: .6rem;
} 

html::-webkit-scrollbar-track {
    background: transparent;
} 

html::-webkit-scrollbar-thumb {
    background: rgba(47, 46, 65, 0.9);
    border-radius: 1rem;
} 

.container {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    align-items: center;
}

ul {
    list-style-type: none;
}

.colored {
    color: #ff310c;
    font-size: 3.7rem;
}
/* ------x------- Global Styles -------x-------*/

/* ------------- Header Styles --------------*/
.header {
    background: #F6F6F8;
    color:  rgba(0, 0, 0, 0.6);
    padding: 0.5rem 2rem;
    font-family: 'Cormorant Infant', serif;
}

.header .contact-info {
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}

.header .msg span {
    color:  #000;
    font-size: 18px;
    font-weight: 600;
}

.header .msg .discount {
    color:  #ff310c;
    font-weight: 700;
    font-size: 20px;
}

.header .contact .email, .header .social-icons .header-icon {
    margin-right: 0.5rem;
}

.header .social-icons .header-icon:hover {
    color:  #2F2E41;
}

.header .contact span {
    position: relative;
}

.header .contact .email:after, .header .contact .phone:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2F2E41;
    display: none;
}

.header .contact .email:hover, .header .contact .phone:hover {
    color: #2F2E41;
}

.header .contact .email:hover::after, .header .contact .phone:hover::after {
    display: block;
}

.contact-icons {
    display: flex;
    align-items: center;
}

.contact-icons .social-icons {
    margin-right: 25px;
}

.social-icons i {
    margin: 0 5px;
}

.header-btn {
    background:  #333244;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    transition: background 0.5s ease-out;
    margin-right: 6px;
}

.header .sign-in, .header .sign-up:hover {
    background: rgb(37, 36, 56);
}
/* ------x------- Header Styles -------x-------*/

/* Navigation Styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #2F2E41;
}

.nav-brand {
    width: 255px;
}

.nav .nav-list {
    display: flex;
    align-items: center;
}

.nav .nav-link:not(:last-child) {
    margin-right: 1rem;
}

.nav .nav-link a {
    position: relative;
}

.nav .nav-link .nav-item {
    transition: color 0.5s ease-out;
}
.nav .nav-link .nav-item:hover {
    color: #ff310c;
}

.active{
    color: #ff310c;
}

.nav .toggle-collapse {
    position: relative;
    font-size: 1.4rem;
    z-index: 1500;
    cursor: pointer;
    display: none;
}

.collapse  {
    height: 30rem;
}

.search {
    padding: 7px 10px;
    border: 1px solid #2F2E41;
    border-radius: 5px;
    margin-right: 5px;
    background: none;
    outline: none;
}

.nav .nav-link i {
    font-size: 0.8rem;
    cursor: pointer;
}

.nav .menu-icons i:first-child {
    margin-right: 1rem;
}

.nav .menu-icons .buy {
    position: relative;
}

.nav .menu-icons .buy::after {
    content: '3';
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    background-color: #ff310c;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}
/* ./ Navigation Styles */

/* Reset Password Styles */
.my-account {
    background: #dadada;
    text-align: center;
    color: #2F2E41;
    font-size: 1.5rem;
    padding: 2rem;
}

.my-account .account-title {
    font-weight: 500;
}

.reset-password .reset-title {
    text-align: center;
    margin-top: 3rem;
}

.reset-title .reset-password-heading {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.reset-title .reset-password-paragraph {
    color: #777;
    margin-bottom: 1rem;
    font-size: 15px;
}

.reset-title .enter-email .enter-email-heading {
    font-size: 1rem;
    color: #777;
    font-weight: 500;
    margin: 2rem 0 1rem;
}

.reset-title .enter-email .reset-password-input {
    width: 430px;
    height: 2.5rem;
}

.reset-title .reset-password-btns {
    margin-top: 2rem;
}

.reset-title .reset-password-btns a {
    border: 1px solid #000;
    border-radius: 5px;
    padding: .5rem 1rem;
}

.reset-title .reset-password-btns .reset-password-btn {
    background: #2F2E41;
    color: #fff;
    margin-right: 1rem;
}

/* Footer Section Styles */
.footer {
	padding: 1rem 0;
	margin-top: 10rem;
	display: flex;
	background: #F6F6F8;
}

.footer-content {
	display: flex;
}
.footer-content-1 {
	width: 45%;
    margin-right: 50px;
}

.footer-content-2 {
	width: 25%;
}

.footer-content-3 {
	width: 30%;
} 

.footer .logo {
	margin-top: 5rem;
}

.footer .logo img {
	margin: 3rem 0;
}

.footer .footer-paragraph {
	color: #2F2E41;
	font-weight: 500;
}

.footer h4 {
    color: #2f2e41;
}

.footer-heading {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.04rem;
}

.social-media {
	display: inline-block;
    color: #2F2E41;
}

.social-media i {
    transition: color .5s ease-out;
    color: #E7ACB2;
}

.sm-info {
	margin-right: 0.3rem;
}

.contact-info-footer {
	margin-top: 3rem;
}

.sm-info {
	display: block;
	margin-top: 1rem;
}

.contact-info-footer .info-icon {
	color: #E7ACB2;
}

.contact-info-footer .fa-phone-volume {
	transform: rotate(-40deg);
}

.contact-info-footer span {
	transition: color 0.5s;
}

.contact-info-footer span:hover {
	color: #E7ACB2;
}

.new {
	margin-top: 3rem;
}

.new-images img {
	margin: 0rem 0.5rem 0.5rem 0rem;
	cursor: pointer;
	transition: opacity 0.5s ease;
}

.new-images img:hover {
	opacity: 0.8;
}

.footer .copy {
	color: #2F2E41;
	margin-top: 2rem;
    font-weight: 600;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-menu-1 {
    position: absolute;
    left: -25rem;
    top: 3rem;
    background: #fff;
    border: 1px solid #d6d6d6;
    width: auto;
    height: 400px;  
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
}

.dropdown .category li {
    text-align: left;
    padding: 8px 0;
    color: #777;
}

.dropdown .category li:not(:last-child) {
    border-bottom: 1px dashed #d6d6d6;
}

li.dropdown-1:hover .dropdown-menu-1 {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu-1 div {
    margin-top: 1rem;
    line-height: 1.5;
    padding: 0 1rem;
}

.dropdown-menu-1 div img {
    margin-top: 0.5rem;
    cursor: pointer;
}

.dropdown-menu-1 .dropdown-img {
    margin-top: 0;
    line-height: 5rem;
}

/* Online Chat */
.online-chat-icon {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    background: linear-gradient(
        to top, rgba(47, 46, 65, 0.5),
        rgba(255, 49, 12, 0.6)
        );
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4.5rem;
    cursor: pointer;
    z-index: 999;
}

.online-chat-icon i {
    color: #fff;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

.chat-input {
    display: block;
}

.online-chat select {
    display: block;
}

.online-chat {
    font-size: 14px;
    background: #fff;
    width: 340px;
    height: 460px;
    position: fixed;
    right: 6rem;
    bottom: 6rem;
    text-align: center;
    z-index: 999;
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 12px 1px rgba(47, 46, 65, 0.5);
    box-shadow: 1px 2px 12px 1px  rgba(47, 46, 65, 0.5);
}

.online-chat .online-chat-header {
    background: linear-gradient(
        to right, rgba(47, 46, 65, 0.5),
        rgba(255, 49, 12, 0.6)
        );
    text-align: left;
    padding: 1rem;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.online-chat-welcome {
    padding: 1rem;
}

.online-chat-welcome img {
    width: 25px;
    position: relative;
    top: .4rem;
}

.online-chat form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.online-chat form .chat-input {
    padding: .8rem 3rem;
    margin-top: 1.5rem;
    border-radius: 50px;
    outline: 0;
    border: 0;
    border: 1px solid #888;
}

.online-chat select {
    padding: .8rem 5rem;
    margin-top: 1.5rem;
    border-radius: 50px;
    outline: 0;
    border: 0;
    border: 1px solid #888;
    color: #888;
}

.online-chat-btn {
    margin-top: 2rem;
}

.online-chat-btn .btn {
    color: #fff;
    font-size: 1.1rem;
    background: linear-gradient(
        to right, rgba(47, 46, 65, 0.5),
        rgba(255, 49, 12, 0.6)
        );
    border-radius: 50px;
    display: flex;
    width: 250px;
    margin: auto;
    padding: .6rem 2rem;
    justify-content: center;
}

.online-chat {
    display: none;
}

.show {
    display: block;
}
/* ./Online Chat */

/* Move Up */
.move-up {
    position: relative;
    right: 5%;
    bottom: 1%;
    cursor: pointer;
    transition: color .5s ease-out;
    z-index: 999;
}

.move-up:hover{
    color: #2F2E41;
}
